<html>
    <head>
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
    </head>
</html>
<body>
    <div id="top">
        <h1>TODOTask</h1>
        <button v-on:click="showTask">display tasks</button>
        <ul>
            <li v-for="task in tasks">
                {{ task.name }}
                <button v-on:click="deleteTask(task.id)" class="delete" type="button">finish!</button>
            </li>
        </ul>
        <input v-model="text" type="text" placeholder="edit me"><button v-on:click="addTask(text)">add</button>
    </div>
    <script>
        new Vue({
            el: '#top',
            data: {
                tasks: [],
            },
            methods: {
                showTask: function() {
                    axios.get('/tasks').then(res => {
                        // console.log(res);
                        this.tasks = res.data.items || [];
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                deleteTask: function(id) {
                    // console.log(id);
                    let params = new URLSearchParams();
                    params.append('id', id);
                    axios.post('/delete', params).then(res => {
                        // console.log(res);
                        this.tasks = res.data.items || [];
                    }).catch(function(error) {
                        console.log(error);
                    })
                },
                addTask: function(text) {
                    // console.log(text);
                    let params = new URLSearchParams();
                    params.append('task_name', text);
                    this.text = '';
                    axios.post('/add', params).then(res => {
                        // console.log(res);
                        this.tasks = res.data.items || [];
                    }).catch(function(error) {
                        console.log(error);
                    })
                }
            },
        })
    </script>
</body>